* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
img {
    border-radius: 50%;
    margin-right: 10px;
}
.flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.flex h4 {
    font-size: 15px;
}
.flex p {
    font-size: 15px;
    opacity: 50%;
}
.box {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
}
.box h5 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;

}
.box2 {
    background-color: blueviolet;
    color: white;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 100px;

}
.box2a {
    color: white;
    background-color:darkslateblue
}
.box2b {
    color: white;
    background-color: black;
}
.box:nth-of-type(1) {
    grid-column: 1/3;
}
.box:nth-of-type(4) {
    grid-row: 2;
    grid-column: 2/4;
}
.box:nth-of-type(5) {
    grid-row: 1/3;
    grid-column: 4;
}
.footer {
    text-align: center;
    font-size: 1em;
    margin: 20px;
}
.footer a {
    text-decoration: none;
}
@media ( max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .box:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;

    }
    .box:nth-of-type(4) {
        grid-column: 1;
        grid-row: 4;
    }
    .box:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
    }

}